* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfaf2;
}


/*fonte og deres str*/

@font-face {
    font-family: 'hk_grotesksemibold';
    src: url('hkgrotesk-semibold-webfont.woff2') format('woff2'), url('hkgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskregular';
    src: url('hkgrotesk-regular-webfont.woff2') format('woff2'), url('hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 1.8em;
    font-family: "hk_grotesksemibold";
}

h2 {
    font-size: 1.2em;
    font-family: "hk_grotesksemibold";
}

p {
    font-size: 0.9em;
    font-family: "hk_groteskregular";
    text-align: justify;
}

.kortbeskrivelse h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.kortbeskrivelse a {
    text-decoration: none;
    color: #2e51a5;
}

.kortbeskrivelse a:hover {
    text-decoration: none;
    color: #63c3b0;
}


/*fonte og deres str slut*/

.menuknap {
    text-align: center;
    font-size: 100%;
    letter-spacing: 5px;
    margin-top: 20px;
}

.menuknap button {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    margin: 5px;
    font-family: "hk_grotesksemibold";
    transition: 0.1s;
}

.menuknap button:hover {
    color: #63c3b0;
    border: solid 1px #63c3b0;
}


/*styling til menu knapper*/

.menulink {
    border: none;
    background-color: #fbfaf2;
}


/*Forside Slideshow*/

.slideshow {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mySlides {
    width: 100%;
    display: none;
}

.logo {
    background-image: url(imgs/F8-2048.png);
    background-size: cover;
    height: 27.63vw;
    width: 64vw;
    margin: 0 auto;
    margin-top: 15px;
}

#single_sted article {
    text-align: center;
}

#single_sted article p {
    text-align: center;
}


/* laver grid system til mobil-version. vores grid består af 1 række, derfor "1fr".*/

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "kortbeskrivelse" "nyhed1" "nyhed2" "nyhed3" "nyhed4" "nyhed5" "footer";
    margin: 17px;
}

.kortbeskrivelse {
    grid-area: kortbeskrivelse;
    margin-bottom: 17px;
}

.nyhederforside h2 {
    text-align: center;
}

.nyhed1 {
    grid-area: nyhed1;
}

.nyhed2 {
    grid-area: nyhed2;
}

.nyhed3 {
    grid-area: nyhed3;
}

.nyhed4 {
    grid-area: nyhed4;
}

.nyhed5 {
    grid-area: nyhed5;
}

.grid_omfood8 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "omfood8" "tilmeld"
}

.omfood8 {
    grid-area: omfood8;
    margin: 20px;
}

.omfood8 h2 {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: justify;
}


/* footer indhold */

footer {
    border: solid 3px #2e51a5;
    margin: 15px;
    text-align: center;
}

.some_container {
    display: flex;
    margin-left: 33vw;
    margin-bottom: 10px;
}

.instalogo {
    width: 8vw;
    height: 8vw;
    background-size: cover;
    transition: 0.5s;
    padding: 10px;
}

.instalogo:hover {
    transform: scale(1.2);
}

.facebooklogo {
    width: 8vw;
    height: 8vw;
    background-size: cover;
    transition: 0.5s;
    padding: 10px;
}

.facebooklogo:hover {
    transform: scale(1.2);
}

.info_container p {
    margin: 10px;
    font-size: 1em;
    font-family: "hk_groteskregular";
    text-align: center;
}

.info_container a {
    color: black;
    font-family: "hk_groteskregular";
}

#nyhedsbrev {
    text-decoration: none;
    color: #63c3b0;
    border: solid 2px #63c3b0;
    font-size: 1.2em;
    background-color: #fbfaf2;
}

#nyhedsbrev :hover {
    font-size: 1.2em;
}

#nyhedsbrev a {
    text-decoration: none;
    color: #63c3b0;
    font-family: 'hk_grotesksemibold';
    margin: 5px;
    transition: 0.5s;
}


/* footer indhold SLUT */


/* styling til steder */

.menusteder {
    margin-bottom: 40px;
}

.box {
    width: 90%;
    margin: 0 auto;
}

.sted {
    margin: 0 auto;
    padding: 10px;
    border: solid 3px #63c3b0;
}

.navn {
    margin-bottom: 15px;
}

.stedbillede {
    max-width: 675px;
    width: 100%;
}

.beskrivelse {
    max-width: 675px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1em;
}

#steder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    transition: all 1s ease;
}

@media screen and (max-width: 1000px) {
    #steder {
        grid-template-columns: repeat(1, 1fr);
    }
}

.sted .beskrivelse {
    font-family: 'hk_grotesksemibold';
    font-size: 0.9em;
}


/* styling til steder SLUT */


/* cookie og privatlivs html */

.cookieogprivat {
    margin: 15px;
}

.cookieogprivat h1 {
    margin-bottom: 15px;
}

.cookieogprivat h2 {
    margin-bottom: 15px;
}

.cookieogprivat p {
    margin-bottom: 15px;
    font-size: 0.8em;
}


/* cookie og privatlivs html SLUT*/


/* styling til single-page, de enkelte steder */

#single_sted {
    margin: 20px;
}

#single_sted p {
    text-align: center;
}


}
.stedbillede {
    margin-bottom: 15px;
}
.overskrift {
    font-family: 'hk_grotesksemibold';
    margin-bottom: 15px;
}
.overskrift {
    margin-top: 10px;
    font-size: 1em;
    font-family: "hk_grotesksemibold";
}

/* styling til single-page til steder */

/* styling til nyheder */
#nyheder {
    margin: 20px;
}
#nyhed {
    border-bottom: solid 3px #63c3b0;
    margin-bottom: 20px;
}
.nyhednavn {
    margin-bottom: 15px;
}
.nyhedbillede {
    max-width: 675px;
    width: 100%;
    margin-bottom: 15px;
}
.kortbeskrivelse {
    font-family: 'hk_grotesksemibold';
    margin-bottom: 20px;
}

/* styling til nyheder SLUT */

/* styling til single-page til steder SLUT */
