    body {
        background-color: #fbfaf2;
    }

/*fonte og deres str*/

p {
    font-size: 1.2em;
}

.kortbeskrivelse h2 {
    text-align: center;
    font-size: 1.4em;
}

.kortbeskrivelse a {
    text-decoration: none;
    color: #2e51a5;
}

.kortbeskrivelse a:hover {
    text-decoration: none;
    color: #63c3b0;

}



/*fonte og deres str slut*/

    .menuknap {
        text-align: center;
        font-size: 100%;
        letter-spacing: 5px;
        margin-top: 20px;
    }

    .menuknap a {
        text-decoration: none;
        color: black;
        font-family: '';
        font-size: 1.5em;
        margin: 5px;
    }

    .menuknap a:hover {
        color: #63c3b0;
        border: solid 1px #63c3b0;
    }

/*styling til menu knapper*/

#menulink {
    border: none;
    background-color: #fbfaf2;
}
    /*Forside Slideshow*/

    #cf img.top {
        animation-name: cf3FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-direction: alternate;
    }

    #cf {
        position: relative;
        margin: 0 auto;
    }

    #cf img {
        width: 90%;
        margin-top: 6%;
        position: absolute;
        left: 0;
        -webkit-transition: opacity 5s ease-in-out;
        -moz-transition: opacity 5s ease-in-out;
        -o-transition: opacity 5s ease-in-out;
        transition: opacity 5s ease-in-out;
    }

    @keyframes cf3FadeInOut {
        0% {
            opacity: 1;
        }
        45% {
            opacity: 1;
        }
        55% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    .logo {
        background-image: url(imgs/F8-2048.png);
        background-size: cover;
        height: 23.63vw;
        width: 55vw;
        margin: 0 auto;
    }


/* laver grid system til mobil-version. vores grid består af 1 række, derfor "1fr".*/

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "kortbeskrivelse" "nyhed1" "nyhed2" "nyhed3" "nyhed4" "nyhed5" "footer"
    }

.kortbeskrivelse {
    grid-area: kortbeskrivelse;
    margin: 20px;
}

.nyhederforside h2 {
    text-align: center;
}

.nyhed1 {
    grid-area: nyhed1;
}

.nyhed2 {
    grid-area: nyhed2;
}

.nyhed3 {
    grid-area: nyhed3;
}

.nyhed4 {
    grid-area: nyhed4;
}

.nyhed5 {
    grid-area: nyhed5;
}
